<ul class="herosList">
    <li *ngFor="let hero of listOfHeros" >
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <!-- Informations -->
                <h5 class="card-title">{{hero?.firstName}} {{hero?.lastName}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{hero?.superHero}}</h6>

                <!-- Actions -->
                <button class="hero-btn" (click)="sendReport(hero)" heroButton [apparence]="'primary'">Héros rapport</button>
                
                <a [routerLink]="['/hero', hero.id]" class="card-link">Fiche héros</a>
                
                <!-- Notification du salaire -->
                <cmp-salary-notification [hero]="hero"></cmp-salary-notification>
            </div>
        </div>
    </li>
</ul>

<div *ngIf="listOfHeros?.length === 0" class="alert alert-warning" role="alert">
    Héros non trouvé !
</div>
