<ul class="herosList">
    <li *ngFor="let hero of listOfHeros" >
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <!-- Informations -->
                <h5 class="card-title">{{hero?.firstName}} {{hero?.lastName}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{hero?.superHero}}</h6>

                <!-- Actions -->
                <button class="hero-btn" (click)="setHero(hero)" heroButton [apparence]="'primary'">Héros rapport</button>
                <a [routerLink]="['/hero', hero.id]" class="card-link">Fiche héros</a>
                
                <!-- Notification du salaire : A extraire pour optimisation --> 
                <div *ngIf="batManNotification?.heroID === hero?.id" class="alert alert-success mt-3" role="alert">
                    {{ batManNotification?.message }} de {{ hero?.superHero }} d'une valeur de {{ batManNotification?.salary}}€
                </div>
                <div *ngIf="spiderManNotification?.heroID === hero?.id" class="alert alert-success mt-3" role="alert">
                    {{ spiderManNotification?.message }} de {{ hero?.superHero }} d'une valeur de {{ spiderManNotification?.salary}}€
                </div>
                <div *ngIf="superManNotification?.heroID === hero?.id" class="alert alert-success mt-3" role="alert">
                    {{ superManNotification?.message }} de {{ hero?.superHero }} d'une valeur de {{ superManNotification?.salary}}€
                </div>
            </div>
        </div>
    </li>
</ul>

<div *ngIf="listOfHeros?.length === 0" class="alert alert-warning" role="alert">
    Héros non trouvé !
</div>
